@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "lora", serif;
}
.logo {
  margin-bottom: 5px;
    margin-top: 5px;
    width: 200px;
    display: block;
}
.logo_title{
  font-weight: bold;
  letter-spacing: 2px;
    left: 39.5%;
    top: 24%;
    position: absolute;
    font-size: 40px;
    color: white;
}
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
    /* background-color: #a75a03; */
  background-color: #F7931E;
  padding: 0 25px;
  transition: 0.3s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    color: #be9553;
    box-shadow: 0 -5px 0px #be9553 inset;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #d6c883;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #d6c883;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}
.hamburger:after {
    top: 10px;
    width: 20px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}
.navigation input:checked ~ .hamburger {
    background-color: transparent;
}
.navigation input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    right: 0;
}


.form_1{
  color: black;
  text-decoration: underline;
}

.first{
  display: flex;
}

.overview_1{
  position: relative;
  font-size: 30px;
  margin-top: 10%;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

.overview_para{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.overview_img{
  position: relative;
    height: 350px;
    margin-left: 10px!important;
    top: 20%;
    border-radius: 10px;
}
.photo_container{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 21px;
    margin-left: 80px
}

.gallery_btn {
    position: absolute;
    top: 429%;
    left: 85.5%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #d6c883;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 450ms ease;
  }
.gallery_btn:hover{
    transform: scale(1.1);
}

.wedding_photo{
    margin: 20px;
    height: 600px;
    border-radius: 10px;

}


.marriage_process{
  margin: auto;
  padding: 10px;
}

.process_wrapper{
  margin-top: 5px;
  display: flex;
  margin-bottom: 80px;
}

.process_title{
    margin-top: 5%!important;
    margin-left: 10%;
    font-size: 30px;
    margin: auto;
    text-align: left;
}

.process_para{
    /* margin-right: 70px;
    margin-top: 20px; */
    font-size: 20px;
}
.process_documents{
  font-size: 20px;
  margin-left: 30px;
}
.process_links{
  text-decoration: underline;
  color: black;
}
.process_img{
  margin-left: 10px;
  height: 350px;
  width: 700px;
  border-radius: 10px;
}

.form_download{
    border: 2px solid #d6c883;
    padding: 3%;
    border-radius: 10px;
    background-color: #d6c883;
    margin-top: 5%;
    cursor: pointer;
    transition: all 400ms ease;
}
a{
    text-decoration: none;
    color: white;
}

.form_download:hover{
    background-color: white;
    transition: all 400ms ease;
}
.form_download:hover a{
    color: #d6c883;
}

.enquiry{
    margin-top: 30px;
    margin-left: 200px;
}

.enquiry_title{
    font-size: 30px;
    margin-left: 47%;
    margin-top: 15%;
}



.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}

.wrapper .icon{
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 20px;
    width: 80px;
    height: 80px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 400ms ease;
}

.wrapper .icon{
    color: black;
    transition: 400ms ease;
}
.tooltip{
    text-align: center;
}

.social_media{
    font-size: 30px;
    margin-top: 25vh;
    text-align: center;
}

.icon:hover{
    transform: scale(1.5);
    transition: 400ms ease;
}







/* .contact {
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */


  /* all the parallax affects */

  .margin{
    margin: 0 0;
  }

  .parallax{
    background: url(./images/Wedding\ Cake\ 2.JPG) fixed ;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .parallax2{
    background: url(./images/Wedding\ Venue\ 5.jpg) fixed ;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .parallax3{
    background: url(./images/Sofreh\ Aghd\ 6\ copy.jpg) fixed ;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .parallax_inner {
    padding-top: 40%;
    padding-bottom: 0%;
}


  .contact_header{
    margin-top: 5vh;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
  }
  .contact_img{
    margin-bottom: 70px;
    border-radius: 10px;
    margin-left: 470px;
    height: 550px;
  }

  .contact_wrapper{
    display: flex;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }
  
  input {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #d6c883;
    height: 40px;
    width: 600px;
    text-align: center;
  }
  textarea {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #d6c883;
    height: 200px;
    width: 600px;
  }
  
  .form__submit {
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    border: 2px solid #d6c883;
    margin-top: 10px;
    margin-bottom: 100px;
    cursor: pointer;
    background-color: #d6c883;
    color: white;
    transition: all 450ms ease;
  }

  .enquiry_wrapper{
    display: flex;
  }
  
  .enquiry_img{
    margin-top: 120px;
    margin-left: 205px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 60px;
  }
  .form__submit:hover {
    background: white;
    color: #d6c883;
  }
  
  #contact__form {
    text-align: center;
  }


/* GALLERY SECTION */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

.img{
    height: 400px;
  }

  .lang_button{
    padding: 5px;
    border-radius: 10%;
    position: absolute;
    left: 95%;
    top: 10%;
  }
  .lang_button2{
    padding: 5px;
    width: 58px;
    border-radius: 10%;
    position: absolute;
    left: 95%;
    top: 25%;
  }



  .container .first{
    display: none;
  }

  .container .first.para_english{
    display: block!important;
  }








  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 

  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .check:checked + .first.para_english{
    display: none;
  }
input:checked + .first.para_farsi{
    display: block;
  }

  .footer{
    text-align: center;
    margin: 70px 0px;
    margin-bottom: 0;
    background-color: #F7931E;
    padding: 20px;
    color: white;
    font-size: 20px;
  }



  #gallery{
    text-align: center;
    font-size: 30px;
  }
  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image-wrapper {
    position: relative;
  }
  .gallery-images {
    margin-left: 65px;
    width: 750px;
    padding: 10px;
  }





  @media screen and (max-width: 992px) {
    .header{
      position: fixed;
    }
    html, body {
      overflow-x: hidden;
    }
    .margin{
      margin: 100px 0px;
    }
    .logo{
      width: 100px;
    }
    .logo_title{
    font-weight: bold;
    letter-spacing: 1px;
    left: 32%;
    top: 45%;
    position: absolute;
    font-size: 15px;
    color: white;
    }
    .lang_button{
      padding: 5px;
      border-radius: 10%;
      position: absolute;
      left: 65%;
      top: 3%;
    }
    .lang_button2{
      padding: 5px;
      width: 58px;
      border-radius: 10%;
      position: absolute;
      left: 81%;
      top: 3%;
    }


    .gallery-images {
      margin-left: 5px;
      width: 350px;
      padding: 10px;
    }
    .image1_1 {
      margin-top: 100px;
    }
    .parallax {
      background: url(./images/Wedding\ Cake\ 2.JPG);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax_inner{
      padding-top: 100%;
    }
    .process_title{
      margin-bottom: 0px;
    }
    .margin2{
      padding-top: 0px;
    }


    .contact_wrapper{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    display: block;
    }
    .contact_img{
    margin-bottom: 70px;
    border-radius: 10px;
    margin-left: 0px;
    height: 450px;
    }

    .first{
      display: block;
    }
    .overview_img {
      height: 350px;
    }
    .process_wrapper{
      display: block;
      margin-bottom: 0px;
    }
    .process_documents{
      font-size: 18px;
    }
    .process_img{
      margin-top: 10px;
      margin-left: 0px;
      height: 190px;
      width: 400px;
    }
    .photo_container{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 15px;
    }
    .wedding_photo{
      height: 180px;
      margin: 5px;
    }
    .gallery_btn{
      top: 362.5%!important;
      left: 73%!important;
    }

    .enquiry{
        margin-top: 30px;
        margin-left: 45px;
    }


    /* nav bar */
    .hamburger,
    .toggle-menu {
        display: block;
    }

    .header {
        padding: 10px 20px;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: -200px;
        background-color: #be9553;
        width: 200px;
        height: 100%;
        padding-top: 65px;
    }

    .menu li {
        width: 100%;
    }
    li {
        background-color: #be9553;
    }

    .menu li,
    .menu li:hover {
        /* padding: 30px; */
        font-size: 24px;
        box-shadow: 0 1px 0 #be9553 inset;
    }


    .overview_1{
      font-size: 30px;
    }
    .overview_para{
      font-size: 18px;
      margin: 10px;
    }

    .process_para{
      text-align: left;
      font-size: 18px;
    }

    input{
      width: 300px;
    }
    textarea{
      width: 300px;
    }
    .enquiry_title{
      margin-left: 36%;
    }
    .c_p2{
      font-size: 16px;
    }
    .c_p1{
      font-size: 16px;
    }
    .footer{
      font-size: 13px;
    }

}

 .fa-facebook-f{
  font-size:30px;
  color: #129AF6;
}

.fa-instagram{
    font-size:30px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-whatsapp{
  font-size:30px;
  color:#1BD741;
}


